# Dependencias
/vendor/
/node_modules/

# Archivos de entorno
.env
.env.backup

# Archivos generados
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDE
/.idea/
/.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Laravel specific
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/build/
/public/hot
/public/storage
/public/sites
/storage/*.key
/.phpunit.result.cache
